:root {
    --neutral: #1c5699;
    --neutral-hover: #143963;
    --neutral-disabled: #526d8b;
    --light-green: #319751;
    --dark-green: #1d5830;
    --green-disabled: #2e6d4a;
    --light-red: #d33737;
    --dark-red: #852020;
    --red-disabled: #a33a3a;
    --confirm-color: #5c0000;
}

/* navbar */
#navbar {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
}
.navbar-item {
    width: 100px;
    padding: 20px;
    text-decoration: none;
    color: var(--font-color);
}
.navbar-item:hover {
    color: var(--nav-selected-item-color);
    transition: color 0.5s;
}
#selected-navbar-item {
    color: var(--nav-selected-item-color);
    border-bottom: 2px solid var(--nav-selected-item-color);
}

/* hamburger menu */
#hamburger-menu-nav {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    padding: 10px;
}
#hamburger-menu-icon {
    width: 35px;
    cursor: pointer;
}
.hamburger-menu-icon-bar {
    width: 35px;
    height: 5px;
    background-color: var(--font-color);
    margin: 6px 0;
}
#hamburger-menu-nav-text {
    margin-left: 10px;
    font-size: 20px;
}
#hamburger-menu-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#hamburger-menu {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--secondary-background-color);
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.hamburger-menu-item {
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--font-color);
}
#selected-hamburger-menu-item {
    color: var(--nav-selected-item-color);
}
@media only screen and (max-width: 600px) {
    #hamburger-menu-nav {
        display: flex;
    }
    #navbar {
        display: none;
    }
}

/* message popup */
#message-container {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 9999;
}
.message-popup {
    width: 300px;
    height: 100px;
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.message-popup-title {
    font-size: 20px;
    font-weight: bold;
}
.message-popup-progress-bar-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
.message-popup-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    border: 0;
    background-color: var(--font-color);
    z-index: 1;
}
.message-popup-progress-bar-background-red {
    background-color: var(--dark-red);
}
.message-popup-progress-bar-background-green {
    background-color: var(--dark-green);
}

/* save popup */
#save-popup {
    width: 600px;
    position: fixed;
    background-color: var(--secondary-background-color);
    padding: 10px 10px 10px 16px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -150px);
    border-radius: 5px;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;
}
@media screen and (max-width: 600px) {
    #save-popup {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #save-popup-buttons {
        width: 100%;
    }
    #save-popup-text {
        display: none;
    }
}
.save-popup-button {
    margin-left: 5px;
}

/* buttons */
input[type="submit"],
button {
    width: 110px;
    color: var(--button-font-color);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.5s;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    border: none;
}
.neutral-button {
    background-color: var(--neutral);
}
.neutral-button:hover {
    background-color: var(--neutral-hover);
}
.neutral-button:disabled {
    background-color: var(--neutral-disabled);
}
.green-button {
    background-color: var(--light-green);
}
.green-button:hover {
    background-color: var(--dark-green);
}
.green-button:disabled {
    background-color: var(--green-disabled);
}
.red-button {
    background-color: var(--light-red);
}
.red-button:hover {
    background-color: var(--dark-red);
}
.red-button:disabled {
    background-color: var(--red-disabled);
}
.confirm-button {
    background-color: var(--confirm-color);
}
.confirm-button:disabled {
    background-color: var(--red-disabled);
}

/* reload popup */
#reload-popup {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#reload-popup-text {
    font-size: 25px;
    font-weight: bold;
    color: var(--font-color);
    text-shadow: 0 0 5px var(--background-color);
    margin-bottom: 15px;
}

/* inputs */
input, textarea, select {
    background-color: var(--primary-background-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
textarea {
    resize: none;
    width: 95%;
    height: 100px;
}

/* links */
a {
    color: var(--font-color);
}

/* general */
body {
    color: var(--font-color);
    background-color: var(--primary-background-color);
    font-family: var(--font-family);
    text-align: center;
    margin: 0;
}
*:disabled {
    cursor: not-allowed !important;
}
#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#content > * {
    margin: 10px;
}
.background-box {
    width: 500px;
    background-color: var(--secondary-background-color);
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: auto;
}
@media only screen and (max-width: 500px) {
    .background-box {
        width: 100%;
    }
}
.background-box > * {
    margin: 10px;
}
.balanced-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 400px) {
    .balanced-container {
        width: 100%;
    }
}
.full-line {
    display: flex;
    align-items: center;
    gap: 10px;
}
.full-line > .color-input {
    width: 75px;
}
.flex-auto-scale {
    width: 0;
    flex: 1;
}
.left {
    text-align: left;
}
.no-display {
    display: none;
}
.color-input {
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--font-color);
}

/* specific elements */
.diary-label {
    overflow-y: auto;
}
.stats-box {
    max-height: calc(50% - 100px);
}
#questions-edit-box {
    max-height: calc(80% - 200px);
}
#settings-box {
    margin: 0;
}
.settings-entry {
    display: flex;
    align-items: center;
    margin: 10px;
}
.settings-entry > * {
    width: 100%
}
#font-family-setting {
    margin-left: 10px;
}
@media only screen and (max-width: 500px) {
    .settings-entry > .left {
        width: 250px;
    }
    .settings-entry > .color-input {
        flex: 1;
    }
    .settings-entry > #font-family-setting {
        flex: 1;
        margin-left: 0;
    }
}
.bottom-buttons {
    margin-top: 50px;
}
#questions-list-box {
    max-height: calc(100% - 200px);
    overflow-y: auto;
}
#questions-list > * {
    margin: 10px;
}
