:root {
    --font-color: #d3d3d3;
    --navbar-selected-item: #0099ff;
    --primary-background-color: #1C1C1C;
    --secondary-background-color: #0e0d0d;
}

body {
    color: var(--font-color);
    background-color: var(--primary-background-color);
    font-family: var(--font-family);
    text-align: center;
    margin: 0;
}

#navbar {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
}

.navbar-item {
    width: 100px;
    padding: 20px;
    text-decoration: none;
    color: var(--font-color);
}

.navbar-item:hover {
    color: var(--navbar-selected-item);
    transition: color 0.5s;
}

#selected-navbar-item {
    color: var(--navbar-selected-item);
    border-bottom: 2px solid var(--navbar-selected-item);
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
