<!DOCTYPE html>
<html>
    <head>
        <script src="/static/utils.js"></script>
        <script src="/static/admin.js"></script>
        <title>Admin Panel - Diary</title>
        {% include "head.html" %}
    </head>
    <body onload="init_utils();">
        {% include "navbar.html" %}
        {% include "message_container.html" %}
        {% include "save_popup.html" %}
        {% include "reload_popup.html" %}
        <div id="content">
            <div class="background-box">
                <h2>
                    Restore Question
                </h2>
                <div class="full-line">
                    <input type="text" id="restore-question-id" class="input-on-secondary-background flex-auto-scale can-be-disabled" placeholder="Question ID" autocomplete="off">
                    <button type="button" class="neutral-button flex-auto-scale can-be-disabled" onclick="restore_question();">Restore</button>
                </div>
            </div>
            <div class="background-box">
                <h2>
                    Sessions
                </h2>
                <p>
                    Session count: {{ sessions }}<br>
                    Active in the last 24 hours: {{ active_sessions_24_hours }}<br>
                    Active in the last 7 days: {{ active_sessions_7_days }}
                </p>
                <div class="full-line">
                    <button type="button" class="red-button flex-auto-scale can-be-disabled" onclick="logout_all_sessions(this);">Logout All Sessions</button>
                </div>
            </div>
        </div>
    </body>
</html>
