<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/diary.js"></script>
        <title>Diary</title>
        {% include "head.html" %}
    </head>
    <body onload="init_utils(); init();">
        {% include "navbar.html" %}
        {% include "message_container.html" %}
        {% include "save_popup.html" %}
        {% include "reload_popup.html" %}
        <div id="content">
            <div id="questions-list-box" class="background-box">
                <input type="date" id="date" class="can-be-disabled" onchange="load_diary();">
                <div id="questions-list" oninput="question_list_change_check();">
                    {% for question in questions %}
                    <div class="full-line">
                        <label for="select-{{ question.id }}" class="diary-label flex-auto-scale" style="color: {{ question.color }};">
                            {{ question.name }}
                        </label>
                        <select id="select-{{ question.id }}" class="can-be-disabled" onchange="" disabled>
                            <option value="0" selected="selected">Not rateable</option>
                            <option value="1">Bad</option>
                            <option value="2">Okay</option>
                            <option value="3">Good</option>
                        </select>
                    </div>
                    {% endfor %}
                </div>
                <textarea maxlength="65535" placeholder="Notes" id="notes" class="can-be-disabled" oninput="question_list_change_check();" disabled></textarea>
            </div>
        </div>
    </body>
</html>
