<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/static/manifest.json">
        <style>
            :root {
                --font-color: {{ settings.font_color }};
                --background-color: {{ settings.background_color }};
                --font-family: {{ settings.font_family }};
            }
        </style>
        <script src="/static/diary.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>Diary</title>
    </head>
    <body>
        <h1>Diary</h1>
        <form action="/diary" method="POST" class="box">
            <div class="one-line">
                <input type="date" name="date" id="date" onchange="loadDiary();">
            </div>
            <div id="questions">
                {% for question in questions %}
                <div class="one-line">
                    <label for="select-{{ question.id }}">
                        {{ question.name }}
                    </label>
                    <select name="{{ question.id }}" id="select-{{ question.id }}" class="can-be-disabled" disabled>
                        <option value="0" selected="selected">Not rateable</option>
                        <option value="1">Bad</option>
                        <option value="2">Okay</option>
                        <option value="3">Good</option>
                    </select>
                </div>
                {% endfor %}
            </div>
            <textarea maxlength="65535" name="notes" placeholder="Notes" id="notes" class="can-be-disabled" disabled></textarea>
            <div class="one-line">
                <input type="submit" value="Save" class="can-be-disabled" disabled>
                <button type="button" onclick="window.location.reload(true);" class="can-be-disabled" disabled>Cancel</button>
            </div>
        </form>
        <button type="button" onclick="window.location.replace('/questions')">Questions</button>
        <button type="button" onclick="window.location.replace('/settings')">Settings</button>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </body>
</html>
