<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/static/manifest.json">
        <style>
            :root {
                --font-color: {{ settings.font_color }};
                --background-color: {{ settings.background_color }};
                --font-family: {{ settings.font_family }};
            }
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ status_code }} - {{ detail }}</title>
    </head>
    <body>
        <h1>
            {{ status_code }} - {{ detail }}
        </h1>
        <button type="button" onclick="window.location.replace('/')">Diary</button>
    </body>
</html>
