<!DOCTYPE html>
<html>
    <head>
        <style>
            :root {
                --font-color: {{ settings.font_color }};
                --background-color: {{ settings.background_color }};
                --font-family: {{ settings.font_family }};
            }
        </style>
        <title>{{ status_code }} - {{ detail }}</title>
        {% include "head.html" %}
    </head>
    <body>
        <h1>
            {{ status_code }} - {{ detail }}
        </h1>
        <div class="bottom-bar">
            <button type="button" onclick="window.location.replace('/')">Diary</button>
        </div>
    </body>
</html>
