<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/static/manifest.json">
<link rel="icon" href="/static/icons/icon.svg" type="image/svg+xml" sizes="any">
<link rel="icon" href="/static/icons/32x32.webp" type="image/webp" sizes="32x32">
<link rel="icon" href="/static/icons/32x32.png" type="image/png" sizes="32x32">
<link rel="icon" href="/static/icons/48x48.webp" type="image/webp" sizes="48x48">
<link rel="icon" href="/static/icons/48x48.png" type="image/png" sizes="48x48">
<link rel="icon" href="/static/icons/64x64.webp" type="image/webp" sizes="64x64">
<link rel="icon" href="/static/icons/64x64.png" type="image/png" sizes="64x64">
<link rel="icon" href="/static/icons/96x96.webp" type="image/webp" sizes="96x96">
<link rel="icon" href="/static/icons/96x96.png" type="image/png" sizes="96x96">
<link rel="icon" href="/static/icons/128x128.webp" type="image/webp" sizes="128x128">
<link rel="icon" href="/static/icons/128x128.png" type="image/png" sizes="128x128">
<style>
    :root {
        {% for key, value in settings.items() %}
        --{{ key }}: {{ value }};
        {% endfor %}
    }
</style>
<link rel="stylesheet" href="/static/css/style.css">
