<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/static/manifest.json">
        <style>
            :root {
                --font-color: {{ style.font_color }};
                --background-color: {{ style.background_color }};
                --font-family: {{ style.font_family }};
            }
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <title>Diary</title>
    </head>
    <body>
        <h1>Diary</h1>
        <form action="/login" method="POST">
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
