<nav id="navbar">
    <a href="/" class="navbar-item"{% if selected_navbar_item == 'diary' %} id="selected-navbar-item"{% endif %}>
        Diary
    </a>
    <a href="/stats" class="navbar-item"{% if selected_navbar_item == 'stats' %} id="selected-navbar-item"{% endif %}>
        Stats
    </a>
    <a href="/questions" class="navbar-item"{% if selected_navbar_item == 'questions' %} id="selected-navbar-item"{% endif %}>
        Questions
    </a>
    <a href="/settings" class="navbar-item"{% if selected_navbar_item == 'settings' %} id="selected-navbar-item"{% endif %}>
        Settings
    </a>
</nav>
