<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/static/manifest.json">
        <style>
            :root {
                --font-color: {{ settings.font_color }};
                --background-color: {{ settings.background_color }};
                --font-family: {{ settings.font_family }};
            }
        </style>
        <script src="/static/questions.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>Questions - Diary</title>
    </head>
    <body>
        <h1>Questions</h1>
        <form action="/update_questions" method="POST" class="box">
            <div id="questions">
                {% for question in questions %}
                <div class="one-line">
                    <input type="text" name="{{ question.id }}"  value="{{ question.name }}" placeholder="Question" required>
                    <button type="button" onclick="removeQuestion(this.parentElement);">Delete</button>
                </div>
                {% endfor %}
            </div>
            <div class="one-line">
                <button type="button" onclick="addQuestions();">Add Question</button>
            </div>
            <div class="one-line">
                <input type="submit" value="Save">
                <button type="button" onclick="window.location.reload(true);">Cancel</button>
            </div>
        </form>
        <button type="button" onclick="window.location.replace('/')">Back</button>
    </body>
</html>
