<!DOCTYPE html>
<html>
    <head>
        <script src="/static/utils.js"></script>
        <script src="/static/questions.js"></script>
        <title>Questions - Diary</title>
        {% include "head.html" %}
    </head>
    <body onload="init_utils(); init();" oninput="question_change_check();">
        {% include "navbar.html" %}
        {% include "message_container.html" %}
        {% include "save_popup.html" %}
        {% include "reload_popup.html" %}
        <div id="content">
            <div class="background-box questions-edit-box" id="questions">
                {% for question in questions %}
                <div class="full-line">
                    <div class="i-id no-display">{{ question.id }}</div>
                    <input type="text" class="i-text input-on-secondary-background flex-auto-scale can-be-disabled" maxlength="255" value="{{ question.name }}" placeholder="Question" autocomplete="off">
                    <label for="{{ question.id }}-color" class="color-input can-be-disabled" style="background-color: {{ question.color }};"></label>
                    <input type="color" id="{{ question.id }}-color" class="i-color input-on-secondary-background can-be-disabled no-display" oninput="color_update(this);" autocomplete="off" value="{{ question.color }}">
                    <button type="button" class="i-delete-button red-button can-be-disabled" onclick="remove_question(this);">Delete</button>
                </div>
                {% endfor %}
            </div>
            <button type="button" class="neutral-button can-be-disabled" onclick="add_questions();">Add Question</button>
        </div>
    </body>
</html>
