<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/static/manifest.json">
        <style>
            :root {
                --font-color: {{ settings.font_color }};
                --background-color: {{ settings.background_color }};
                --font-family: {{ settings.font_family }};
            }
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <title>Settings</title>
    </head>
    <body>
        <h1>Settings</h1>
        <form action="/update_settings" method="POST" class="box">
            <label for="font-color">Font Color</label>
            <input type="color" name="font_color" id="font-color" value="{{ settings.font_color }}" required><br>
            <label for="background-color">Background Color</label>
            <input type="color" name="background_color" id="background-color" value="{{ settings.background_color }}" required><br>
            <label for="font-family">Font Family</label>
            <input type="text" name="font_family" id="font-family" value="{{ settings.font_family }}" required><br>
            <input type="submit" value="Save">
        </form>
        <button type="button" onclick="window.location.replace('/')">Back</button>
    </body>
</html>
