<!DOCTYPE html>
<html>
    <head>
        <script>
            const font_color = "{{ settings.font_color }}";
        </script>
        <script src="/static/utils.js"></script>
        <script src="/static/stats.js"></script>
        <title>Stats - Diary</title>
        {% include "head.html" %}
    </head>
    <body onload="init_utils();{% if questions %} init();{% endif %}">
        {% include "navbar.html" %}
        {% include "message_container.html" %}
        <div id="content">
            {% if questions %}
            <div class="background-box left stats-box" id="display-box">
                {% for question in questions %}
                <div>
                    <input type="checkbox" class="can-be-disabled" id="{{ question.id }}-checkbox" onchange="render_stats();" checked>
                    <label for="{{ question.id }}-checkbox" id="{{ question.id }}-label" style="color: {{ question.color }}">{{ question.name }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="balanced-container">
                <button type="button" class="neutral-button can-be-disabled" onclick="update_month(true);"><</button>
                <span id="month-span">...</span>
                <button type="button" class="neutral-button can-be-disabled" onclick="update_month(false);">></button>
            </div>
            <div class="balanced-container">
                <button type="button" class="neutral-button can-be-disabled" onclick="update_year(true, true);"><</button>
                <span id="year-span">...</span>
                <button type="button" class="neutral-button can-be-disabled" onclick="update_year(false, true);">></button>
            </div>
            <canvas id="stats"></canvas>
            {% else %}
            <h1>
                No Data
            </h1>
            {% endif %}
        </div>
    </body>
</html>
