<!DOCTYPE html>
<html>
    <head>
        <title>Test Page - Diary</title>
        {% include "head.html" %}
    </head>
    <body>
        <div id="content">
            <div class="background-box">
                <div>test item</div>
                <div>test item</div>
                <div>test item</div>
            </div>
            <div class="balanced-container">
                <div>test item</div>
                <div>test item</div>
                <div>test item</div>
            </div>
            <div>
                <div>
                    <button type="button" class="button neutral-button">neutral button</button>
                    <button type="button" class="button neutral-button" disabled>neutral button</button>
                </div>
                <div>
                    <button type="button" class="button green-button">green button</button>
                    <button type="button" class="button green-button" disabled>green button</button>
                </div>
                <div>
                    <button type="button" class="button red-button">red button</button>
                    <button type="button" class="button red-button" disabled>red button</button>
                </div>
            </div>
        </div>
    </body>
</html>
